/* Reset e configuração básica */
body {
  margin: 0;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Container principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Centraliza o texto e os botões no container */
}

/* Estilo do título */
.container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Navbar */
.navbar {
  background-color: #343a40;
  padding: 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #007bff;
  position: fixed;
  /* Mudado de relative para fixed */
  top: 0;
  /* Alinhado no topo da página */
  left: 0;
  width: 100%;
  /* Garante que o navbar ocupe toda a largura da página */
  z-index: 1000;
  /* Garante que o navbar fique acima de outros elementos */
  flex-wrap: wrap;
}

/* Navbar */
.navbar {
  background-color: #343a40;
  padding: 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #007bff;
  position: relative;
  flex-wrap: wrap;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.logo {
  background-color: #343a40;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.logo-image {
  width: 100px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1em;
  margin: 5px 1px;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #007bff;
  color: #fff;
}

.navbar a.logo:hover {
  background-color: #343a40;
}

.navbar .menu-button {
  font-size: 1.5em;
  line-height: 1;
  margin-left: auto;
  cursor: pointer;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: fixed; /* Mudado de absolute para fixed */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001; /* Um nível acima do navbar */
  margin-top: 10px;
  left: 10px;
  border-radius: 3px;
  overflow: hidden;
}

#userDropdown {
  right: 10px;
  left: auto;
  margin-top: 58px;
  top: 50px; /* Ajuste conforme a altura do navbar */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c5e1ff;
}

/* Estilo do formulário */
form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #343a40;
  text-align: left
}

.form-group input[type="text"] {
  width: calc(100% - 20px);
  /* Ajustado para compensar o padding */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

/* Estilo da tabela */
.brinquedos-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
  /* Alinha o texto à esquerda */
}

.brinquedos-table th,
.brinquedos-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.brinquedos-table th {
  background-color: #f0f0f0;
  color: #343a40;
}

.brinquedos-table td {
  color: #333;
}

.brinquedos-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.brinquedos-table tr:hover {
  background-color: #f1f1f1;
}

/* Estilo dos botões */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos gerais para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination button:focus {
  outline: none;
}

.pagination span {
  align-self: center;
  font-size: 16px;
  color: #333;
  margin: 0 10px;
}

/* Estilo específico para a navegação de páginas */
.pagination .prev, .pagination .next {
  font-weight: bold;
}

.btn {
  padding: 4px 8px;
  margin: 0 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.btn-edit {
  background-color: #f0ad4e;
  color: white;
}

.btn-delete {
  background-color: #d9534f;
  color: white;
}

.btn-edit:hover {
  background-color: #ec971f;
}

.btn-delete:hover {
  background-color: #c9302c;
}

/* Estilo dos modais */
.modal,
.confirmation-dialog {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content,
.confirmation-dialog-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

/* Estilo do botão de fechar */
.close-modal {
  background-color: #d9534f;
  /* Cor vermelha */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  /* Espaço no topo */
}

/* Botões de confirmação na caixa de diálogo */
.confirmation-dialog-content p {
  margin-bottom: 20px;
}

.confirmation-dialog button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

#confirm-yes {
  background-color: #28a745;
  color: white;
}

#confirm-no {
  background-color: #dc3545;
  color: white;
}

/* Estilo geral da mensagem de ausência de resultados */
.no-results-message {
  display: none; /* Inicialmente escondido */
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #f44336; /* Borda vermelha para destacar a mensagem */
  background-color: #ffe6e6; /* Fundo suave em rosa claro */
  color: #f44336; /* Cor do texto vermelha */
  border-radius: 5px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Fonte em negrito */
}

.no-results-message i {
  margin-right: 8px; /* Espaçamento entre ícone e texto */
  color: #f44336; /* Cor do ícone */
}

/* Estilo do ícone de pesquisa */
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}
